@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Mon-light;
    src: url(/fonts/Montserrat-Thin.ttf);
}
.Titular-1{
    display: flex;
    flex-direction: row;
    margin: 30%;
    margin-top: 10%;
    margin-bottom: 200px;
    align-items: center;
    justify-content: center;
}
.textos-titular-sub h2{
    color: #efefef;
    width: 40vw;
    font-size: 25px;
    font-weight: bold;
    letter-spacing:5px;
}
.textos-titular-sub p{
    color: #efefef;
    font-weight: lighter;
    width: 40vw;
    font-size: 26px;
}
.separador{
    min-width: 10px;
    margin: 0 10%;
    height: 150px;
    background-color: #efefef;
}
.Logo-titular{
}


@media(max-width: 990px) {
    .Titular-1 {
        flex-direction: column;
        margin: 15% 2%;
        align-items: center;
        justify-content: center;
    }

    .textos-titular-sub h2 {
        font-size: 20px;
    }

    .textos-titular-sub p {
        font-size: 16px;
        width: 85vw;
    }

    .separador {
        display: none;
    }
    .Logo-titular{
        width: 350px;
        margin: 120px 0px;
    }
}



